@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background: rgb(31, 16, 40);
}

.card {
  border: 1px solid #e3d3e2;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.character-detail {
  text-align: center;
  padding: 20px;
}


.character-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}


.character-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.character-image {
  width: 100%;
  border-radius: 10px;
}


.character-name {
  font-size: 2rem;
  color: #333;
  margin: 20px 0;
}


.character-info {
  text-align: left;
  font-size: 1.1rem;
  color: #666;
}

.character-info p {
  margin: 10px 0;
}

.character-info strong {
  color: #333;
}


.loading {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}

body {
  color: rgb(226, 225, 225);
  font-weight: bold;
}